* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul{
  padding: 0;
  list-style: none;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  margin: 0;
  padding-top: 0;
}

button {
  cursor: pointer;
  background: transparent;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
