// Colors
$dark-grey: #333;
$grey: #666;
$light-grey: rgba($grey, .06);
$blue: #1c88bf;
$txt-blue: #61dafb;
$light-bue: rgba($blue, .06);
$dark-blue: #364051;
$off-white: #f7f7f7;
$border-clr: #ced4da;
$error-clr: #E32B2B;
$white: #fff;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$caret-width: .3em;

