$common : (
    'width'     :   240px,
    'height'    :   240px,
    'image'     :   './../../webApp/generated/svg_images/common/common.svg',
    'appstore'      :   (
        'offset_x'      :   33.333333333333336%,
        'offset_y'      :   0%,
        'width'         :   60px,
        'height'        :   23.41px
        ),
    'beautiful'      :   (
        'offset_x'      :   33.333333333333336%,
        'offset_y'      :   66.66666666666667%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'bucket-list'      :   (
        'offset_x'      :   0%,
        'offset_y'      :   33.333333333333336%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'check-box'      :   (
        'offset_x'      :   33.333333333333336%,
        'offset_y'      :   33.333333333333336%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'check-mark'      :   (
        'offset_x'      :   66.66666666666667%,
        'offset_y'      :   0%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'close'      :   (
        'offset_x'      :   66.66666666666667%,
        'offset_y'      :   33.333333333333336%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'community'      :   (
        'offset_x'      :   0%,
        'offset_y'      :   66.66666666666667%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'easy'      :   (
        'offset_x'      :   0%,
        'offset_y'      :   0%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'logo'      :   (
        'offset_x'      :   33.333333333333336%,
        'offset_y'      :   10.631244323342417%,
        'width'         :   60px,
        'height'        :   19.8px
        ),
    'logo-mob'      :   (
        'offset_x'      :   66.66666666666667%,
        'offset_y'      :   60.150375939849624%,
        'width'         :   60px,
        'height'        :   40.5px
        ),
    'playstore'      :   (
        'offset_x'      :   100%,
        'offset_y'      :   0%,
        'width'         :   60px,
        'height'        :   23.33px
        ),
    'privacy'      :   (
        'offset_x'      :   100%,
        'offset_y'      :   12.96111111111111%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'social'      :   (
        'offset_x'      :   100%,
        'offset_y'      :   46.294444444444444%,
        'width'         :   60px,
        'height'        :   60px
        ),
    'timeline'      :   (
        'offset_x'      :   0%,
        'offset_y'      :   100%,
        'width'         :   60px,
        'height'        :   60px
        )
);


@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}

@mixin common-icon($name, $sprite : $common){
    $icon : map-get($sprite, $name);
    $image-width : map-get($icon, 'width');
    $image-height : map-get($icon, 'height');

    &:before {
        content: "";
        display: block;
        width: 100%;
        height:0;
        background-image: url(map-get($sprite, 'image'));
        background-position: map-get($icon, 'offset_x') map-get($icon, 'offset_y');
        padding-bottom: percentage($image-height/$image-width);
        @include background-size(percentage(map-get($sprite, 'width')/$image-width) percentage(map-get($sprite, 'height')/$image-height));
        background-repeat:no-repeat;
    }

}
